/* General CSS */
.content-center {
    width: 75%;
    margin: 0 auto;
}

/* flex */
.flex-container {
    display: flex;
}

/* header */
.header-alignment {
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-logo {
    width: 20%;
}