/* General purpouse */
.content-center {
    width: 75%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* flex */
.flex-container {
    display: flex;
}

/* header */
.header-alignment {
    justify-content: space-between;
    align-items: center;
}

.horizontal-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;}

.header-flex-item {
    width: 30%;
}

/* main */
.main-alignment {
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-flex-item {
    width: 30%;
}

.card-image {
    width: 100%;
}

/* footer */
.footer-alignment {
    justify-content: space-between;
    align-items: center;
}